<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506321009428-4g4fv3plrde8vg5mjkg81f0agud6k4s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506321009428-4g4fv3plrde8vg5mjkg81f0agud6k4s1</string>
	<key>API_KEY</key>
	<string>AIzaSyBjkJ2m9f4DrDpLwcecr2o5WsWLXJ_FFwo</string>
	<key>GCM_SENDER_ID</key>
	<string>506321009428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gorentApplication1</string>
	<key>PROJECT_ID</key>
	<string>gorent-c3868</string>
	<key>STORAGE_BUCKET</key>
	<string>gorent-c3868.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506321009428:ios:94e574457530df77616001</string>
</dict>
</plist>